
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// General
$body-color: rgba($gray-100, 0.87);
$body-bg: $gray-900;
$border-color: $gray-700;
$blue: rgb(0,135,215);

// List Group
$list-group-bg:                     transparent;
$list-group-border-color:           transparent;
$list-group-hover-bg:               $gray-700;
$list-group-border-radius:          0;
$list-group-active-bg:              $body-color;
$list-group-active-color:           $gray-900;
$list-group-action-color:           $body-color;
$list-group-action-hover-color:     $body-color;
$list-group-action-active-color:    $body-color;
$list-group-action-active-bg:       $gray-700;
$list-group-active-border-color:    transparent;
$list-group-disabled-bg:            transparent;
$list-group-item-padding-x:         10px;
$list-group-item-padding-y:         8px;

// Inputs
$input-bg:            transparent;
$input-color:         $body-color;
$input-border-color:  $border-color;
$input-focus-bg:      $input-bg;
$input-focus-color:   $input-color;
$input-disabled-bg:   $gray-800;

// Buttons
$btn-border-radius:    0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

// Forms
$input-border-radius:    0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;

// Breadcrumbs
$breadcrumb-margin-bottom: 0;
$breadcrumb-bg:                     transparent;

// Dropdowns
$dropdown-bg:                       $gray-900;
$dropdown-header-color:             $gray-500;
$dropdown-link-color:               $body-color;
$dropdown-link-hover-color:         $body-color;
$dropdown-link-hover-bg:            $gray-700;
$dropdown-link-active-color:        $gray-900;
$dropdown-link-active-bg:           $body-color;
$dropdown-border-radius:            0;


// Alerts
$alert-border-radius: 0;

@import "../../node_modules/bootstrap/scss/bootstrap";

.list-group, button {
  font-family: Monaco;
}
body, html {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 100%;
}
#app {
  min-height: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}