
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// General
$body-color: rgba($white, 0.87);
$body-bg: $gray-900;
$border-color: $gray-700;

// List Group
$list-group-bg:                     transparent;
$list-group-border-color:           $border-color;
$list-group-hover-bg:               $border-color;
$list-group-active-color:           $body-color;
$list-group-action-color:           $body-color;
$list-group-action-hover-color:     $body-color;
$list-group-action-active-color:    $body-color;
$list-group-action-active-bg:       $gray-700;
$list-group-disabled-bg:            transparent;

// Inputs
$input-bg:            transparent;
$input-color:         $body-color;
$input-border-color:  $border-color;
$input-focus-bg:      $input-bg;
$input-focus-color:   $input-color;
$input-disabled-bg:   $gray-800;

// Breadcrumbs
$breadcrumb-padding-y:              0;
$breadcrumb-padding-x:              0;
$breadcrumb-bg:                     transparent;

@import "../../node_modules/bootstrap/scss/bootstrap";

#app {
  //font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //margin-top: 60px;
}